# VS Code editor settings
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env*

# Node modules (in case you ever add a build tool)
node_modules/

public/js/firebase.js
public/js/config.js